label{
    text-align: left;
    width:240px;
    display: inline-block;
    margin:6px;
    
}
body{
    background-image: url(pic3.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    border-radius: 20px;
    background-color: black;
    color:white;
    width:600px;
    padding: 4px;
    
}